body {
    background-color: #101f2e;
}
table{
    width: 100%;
    color: white;
    font-family: "Arial";
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    border-bottom: .2px solid rgba(255,255,255, 0.2);
}

#texto {

    border: none;
}
#foto{
    border: none;
    padding-left: 100px;
}
#texto2{
    width: 80%;
    font-family: "Arial Black";
    font-size: 50px;
}
#texto3 {
    font-family: sans-serif;
    text-transform: none;
    opacity: 0.6;
}
#newera {
    background: -webkit-linear-gradient(45deg,orange, purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}